.aboutImg {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.text_on_img {
    position: relative;
    padding-top: 30vh;
    padding-bottom: 20vh;
}

.text_on_img h1 {
    color: #FFF;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 5px;
}

.proxy-container {
    padding-top: 23vh;
}

.dummy-text-container {
    font-weight: 400;
    font-size: 1.2rem;
}

.founder-cont {
    width: 30%;
}

.founder__1 {
    border-radius: 100%;
}

.mainFounder-cont h4 {
    font-weight: 500;
    font-size: 1.5rem;
}

.mainFounder-cont h3 {
    font-size: 15px;
    font-weight: 500;
    color: #b3b3b3
}

.mainFounder-cont p {
    font-size: 1.3rem;
}