.donateImg {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.text_on_img {
  position: relative;
  padding-top: 30vh;
  padding-bottom: 20vh;
}


.text_on_img h1 {
  color: #FFF;
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: 5px;
}



.writeup {
  color: white;
  margin-top: 10px;
  font-size: 22px;
}



.site-section {
  margin-top: 30px;
  /* padding-top: 20vh; */
}


.h2d {
  margin-top: 30px;

}

.site-section img {
  width: 30%;
  border-radius: 100%
}







/* The css code is for the testimon side  */





.block-47 .block-47-image img {
  border: 5px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.3);
}



.block-47 .block-47-quote {
  margin-left: 10px;
  padding: 10px;
  background: #fff;
  border-radius: 7px;
  position: relative;
  -webkit-box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.1);
}


  /* This is the slight edge sign  */


.block-47 .block-47-quote:before {
  content: "";
  border: 1px solid red;
  z-index: 2;
  position: absolute;
  left: -15px;
  border-width: 0 20px 20px 0;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
}