.donateImg {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.text_on_img {
  position: relative;
  padding-top: 30vh;
  padding-bottom: 20vh;
}


.text_on_img h1 {
  color: #FFF;
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: 5px;
}



.writeup {
  color: white;
  margin-top: 30px;
  font-size: 22px;
}



.site-section {
  margin-top: 30px;
  /* padding-top: 20vh; */
}


.h2d {
  margin-top: 30px;
  
}

.site-section img{
  width: 30%;
  border-radius: 100%
}






