.footer {
    position: relative;
    background: #404040;
    padding: 5em;
    color: #fff;
}

.btn.btn-primary {
    background: #79ccab;
    border: 2px solid transparent;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.btn.btn-primary:hover {
    border: 2px solid #FFF;
    background: #404040;
}


.footer .heading-section {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 40px;
    letter-spacing: .1em;
}


a {
    text-decoration: none;
    list-style: none;
}

li {
    text-decoration: none;
    list-style: none;
}